
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {     
      overflow-x: hidden;
      background-color: #252734;
      /* background-color: #2a2c39; light */
}

 .nav-bar{
  display: flex;
  margin: auto;
  width: 40%;
  padding-top: 10px;
}

.nav-bar-items{
  color: #858792;
  font-size: 18pt;
  padding: 20px 0px;
  text-align: center;
  width: 20%;
  margin: 10px;
}

.nav-bar-items:hover{
  background-color: #2e303f6d;
  color: azure;
  transition: .5s all;
}

.profile-container{
  /* background-color: aqua; */
  padding-top: 10%;
  width: 60%;
  margin: auto;
}

.name-container{
  font-family: "Cormorant Garamond",serif;
  color: white;
  font-size: 60pt;
  font-weight: 500;
  line-height: 85pt;
  letter-spacing: 1pt;
  
}

.name{
  font-size: 100pt;
  font-weight: 600;
  word-spacing: 2pt;
  
}