body{
    margin: 0%;
    background-color: yellow;
    display: flex;
}

ul{
    list-style: none;
    padding: 0%;
}

.sidebar{
    background-color: violet;
    height: 100vh;
    width: 25%;
    text-align: center;
}

.sidebar-profile-pic-container{
    margin-top: 20%;
    position: relative;
}


.profile-pic{
    width: 60%;
    border-radius: 100%;
    aspect-ratio: 1;
    top: 5%;
}

.sidebar-name-container{
    font-size: 3.5ex;
    font-weight: 600;
    font-family: "Playfair Display", Georgia, serif;

    margin: 20px;
}

.sidebar-title-container{
    margin: 10px;
}

.sidebar-sections-container-ele{
    padding: 10px;
}


.sidebar-sections-container-ele.selected{
    border-bottom: 1px solid aqua; /* Color and thickness of the underline */
    padding-bottom: 5px; /* Adjust the space between text and underline */
    text-decoration: none; /* Remove the default underline */
    display: inline-block; 
}

.main-content{
    background-color: red;
    width: 75%;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; 
    margin-left: 20px;
}

/* Title */

.title-container{
    font-size: 25px;
    font-family: "Playfair Display", Georgia, serif;
    font-weight: 600;
}

/* Intro Container */

.intro-container{
    background-color: aqua;
    height: 100vh;
}

.name-container{
    font-family: "Playfair Display", Georgia, serif;
    font-size: 70px;
    font-weight: 600;
    position: relative;
    top: 35%;
}

/* About Me */

/* Service */

.service-box-grid{
    display: grid;
    grid-template-columns: repeat(3,33%);
    /* gap: 50px; */
    align-items: center;
    text-align: center;
    background-color: yellow;
}

.service-card{
    width: 250px;
    aspect-ratio: 1;
    background-color: rgb(60, 86, 86);
    margin: 40px auto;
}

/* Education */

.education-content{
    background-color: wheat;
    list-style: none;
    margin-bottom: 10px;
    width: 80%;
    margin-left: 8%;
}

.education-content.selected{
    background-color: rgb(83, 173, 225);
}

.course-title-container{
    background-color: violet;
    width: 100%;
    display: inline-flex;
}

.toogle-icon-container{
    background-color: #0dff00;
    width: 10%;
    text-align: center;
    padding: 1.5% 0px;
}

.course-title{
    width: 90%;
    background-color: rgb(69, 17, 117);
    font-size: 3.5ex;
    padding: 10px 20px;
    font-weight:500;
}

.additonal-info{
    display: none;
}

.additonal-info.selected{
    display: block;
    background-color: #ffff00;
    padding: 25px 20px;
    font-size: 18px;
}

.ed-items{
    margin-bottom: 5px
}

/* work */

.work-content-item{
    background-color: rgb(101, 195, 43);
    width: 90%;
    margin: auto;
    position: relative;
    margin-bottom: 50px;
}

.company-name{
    font-size: 4.5ex;
    font-weight: 600;
}
.job-duration{
    position: absolute;
    background-color: purple;
    z-index: 9;
    right: 0%;
    font-size: 2.5ex;
    padding: 10px;
    top: 0%;
}

/* Contact */

.contact-container{
    padding: 6c0px 0px;
}

.contact-data-container{

    display: flex;
    padding: 50px;
    
    
}

.contact-icon-container{
    background-color: violet;
    
}

.contact-form-container{
    background-color: springgreen;
    display: flex;
    flex-direction: column;
}

.form-input{
    background-color: rgb(216, 216, 216);
    border: 0px;
    padding: 25px 20px;
    margin: 10px;
    font-size: 3ex;
    color: grey;
}

.form-input:focus{
    border: 0px;
    outline: none;
}

.form-btn{
    background-color: #3345cd;
    color: white    ;
}



.contact-item{
    display: flex;
}

.contact-item-icon-container{
    width: 10%;
    padding: 30px;
    position: relative;
    background-color: #27338b;

}

.contact-item-icon{
    width: 100%;
}

.content-item-content,a{
    text-decoration: none;
    color: aqua;
    align-items: center;
    position: relative;
    top: 40%;
    padding-left: 10px;
}


@media (max-width:450px){

    ul{
        margin: 0%;
        padding: 0%;
    }

    .sidebar{
        display: none;
    }
    
    .main-content{
        width: 100vw;
        margin: 0%;
    }

    .education-content{
        position: relative;
        width: 90%;
        margin: 5%;
        padding: 0%;
        left: 0%;
    }

    .course-title{
        font-size: 2.5ex;
        width: 75%;
    }

    .contact-data-container{

        display: block;
    
    
    }

    .service-box-grid{
        grid-template-columns: repeat(1,100%);

    }

    .service-card{
        width: 80%;
    }


}