body{
    margin: 0%;
    background-color: yellow;
    display: flex;
}


.sidebar{
    background-color: violet;
    height: 100vh;
    width: 25%;
}

.main-content{
    background-color: red;
    width: 75%;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; 
}

/* Title */

.title-container{
    font-size: 25px;
    font-family: "Playfair Display", Georgia, serif;
    font-weight: 600;
}

/* Intro Container */

.intro-container{
    background-color: aqua;
    height: 100vh;
}

.name-container{
    font-family: "Playfair Display", Georgia, serif;
    font-size: 70px;
    font-weight: 600;
    position: relative;
    top: 35%;
}

/* About Me */

/* Service */

.service-box-grid{
    display: grid;
    grid-template-columns: repeat(3,33%);
    /* gap: 50px; */
    align-items: center;
    text-align: center;
    background-color: yellow;
}

.service-card{
    width: 250px;
    aspect-ratio: 1;
    background-color: aqua;
    margin: 40px auto;
}